html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  background-image: url(./background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Width to match app grid size */
#root {
  margin: 1.5em auto;
  max-width: 40em;
}
